@import url(./css/nav.css);
@import url(./css/hero.css);
@import url(./css/usp.css);
@import url(./css/testimonial.css);

:root {
  --red: hsl(12, 88%, 59%);
  --darkBlue:  hsl(228, 39%, 23%);

  --grayishBlue: hsl(227, 12%, 61%);
  --veryDarkBlue: hsl(233, 12%, 13%);
  --veryPaleRed:  hsl(13, 100%, 96%);
  --veryLightGray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 font-family: 'Be Vietnam Pro', sans-serif;
 background: var(--veryLightGray);
}

main {
  padding: 2em 1.25em;

  max-width: 375px;
  margin: 0 auto;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


img {
  width: 100%;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: var(--red);
  color: white;
  font-weight: 700;
  padding: 1em 2em;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}


/* Headings */

h2 {
  text-align: center;
  padding: 0 1.5em;
  font-size: 1.75rem;
}


/* Text */

.sub-text {
  font-size: 0.9rem;
}



/*
Pricing
  Product
  About Us
  Careers
  Community

  Get Started

  Bring everyone together to build better products.

  Manage makes it simple for software teams to plan day-to-day 
  tasks while keeping the larger team goals in view.


  Get Started

  Simplify how your team works today.
  Get Started

  Home
  Pricing
  Products
  About Us
  Careers
  Community
  Privacy Policy

  Updates in your inbox…
  Go

  Copyright 2020. All Rights Reserved









*/