@import url(./css/nav.css);
@import url(./css/hero.css);
@import url(./css/usp.css);
@import url(./css/testimonial.css);
@import url(./css/footer.css);

:root {
  --red: hsl(12, 88%, 59%);
  --darkBlue:  hsl(228, 39%, 23%);

  --grayishBlue: hsl(227, 12%, 61%);
  --veryDarkBlue: hsl(233, 12%, 13%);
  --veryPaleRed:  hsl(13, 100%, 96%);
  --veryLightGray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 font-family: 'Be Vietnam Pro', sans-serif;
 background: var(--veryLightGray);
}

main {
  padding: 2em 1.25em;

  margin: 0 auto;
  position: relative;
  overflow: hidden;
  /* background-image: url(./images/bg-tablet-pattern.svg);
  background-repeat: no-repeat; */
}


/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.background-one {
  position: absolute;
  z-index: -10;
  right: -12em;
  top: -10em;
  width: 500px;
}



img {
  width: 100%;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: var(--red);
  color: white;
  font-weight: 700;
  padding: 1em 2em;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}


/* Headings */

h2 {
  text-align: center;
  padding: 0 1.5em;
  font-size: 1.75rem;
}


/* Text */

.sub-text {
  font-size: 0.9rem;
}

.desktop-only {
  display: none;
}

.nav-links {
  display: none;
}



@media (min-width: 900px)  {
  .mobile-only {
    display: none;
  }

  
  .desktop-only {
    display: block;
  }

  .logo-container {
    height: 30px;
  }

  .nav-links ul {
    font-size: 0.95rem;
  }

  .desktop-only .nav-btn {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .logo-container {
    width: 50%;
  }

  .logo-container img {
    width: 175px
  }

  /* HERO SECTION */
  .hero-section {
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: row-reverse;

    margin-top: 5em;
  }

  .hero-section_image {
    flex: 1;
    margin-top: 0;
  
    width: 100%;
  }



  .hero-section_text {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:flex-start;

  }

  .heading, .text {
    text-align: left;
    padding-right: 2em;
  }

  .text-main {
    max-width: 350px;
    font-size: 0.85rem;
    line-height: 1.6em;
    margin-top: 0.5em;
  }

  .main-heading {
    font-size: 3rem;
    margin-top: -1em;
  }

  .btn-container {
    margin-top: 0.4em;
  }
  

  /* USP SECTION */
  .usp-section {
    display: flex;
    justify-content: space-between;

    max-width: 1200px;
    margin: 8em auto 0 auto;
  }

  .usp-one {
    flex: 1;
  }

  .usp-two {
    flex: 1.25;
    margin-top: 1em;

    display: flex;
    flex-direction: column;
    align-items: last baseline
  }

  .usp-one h2,
  .usp-one p {
    text-align: left;
    padding-left: 0;
  }

  .usp-one h2 {
    max-width: 550px;
    font-size: 2.5rem;
  }

  .usp-one p {
    max-width: 370px;
    line-height: 1.75em;
    font-size: 0.95rem;
  }

 
  
  .advantage {
    background-color:transparent;
  }

  .usp-text {
    padding-left: 5.75em;
    max-width: 475px;
    padding-right: 0em;
    font-size: 0.9rem;
  }


  /* Testimonial Section */
  .testimonial-section {
    margin-top: 5em;
    margin-bottom: 10em;

    margin-left: -5em;
    margin-right: -5em;
  }
  .testimonial-section h1,
  .testimonial-section .btn-container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }

  .testimonial-section h1 {
    font-size: 2rem;
    margin-bottom: 1.5em;
    padding-right: 0;
  }

  .swiper-pagination-bullet {
    display: none;
  }

  
  .cta-section-max {
    display: flex;
    justify-content: space-between;
  
    max-width: 1200px;
    margin: 0em auto 0 auto;
  }


  /* FOOTER */
  .footer-section-max {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    
    gap: 5em;
    width: 100%;
    padding-top: 2.5em;
    padding-bottom: 2.5em;


    max-width: 1200px;
    margin: 0 auto;
  }

  .footer-social {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-between;
  }

  .footer-social_logo {
    display: flex;
    justify-items: flex-start;
    gap: 0em;
    margin-top: 0em;
    margin-bottom: 0em;
 }

 .footer-links {
    display: flex;
    justify-content: space-between;

    font-size: 0.85rem;
    padding: 0;
    gap: 12em;
  }


 .footer-email {
  margin-top: 0;
 }

 .footer-social_icons {
  display: grid;
  grid-template-columns: repeat(5, 30px);
  justify-content: space-between;
  width: 100%;
  padding-bottom: 0.5em;
 }
 
 .footer-links ul {

  line-height: 2.75em;
  vertical-align: top;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
 }

 
 .footer-links ul li{
  vertical-align: top;
  line-height: 1;
 }

 .footer-email form input {
  width: 70%;
 }

 .footer-email form button {
  flex: 0.3;
  width: 30%;
}

}




/*
Pricing
  Product
  About Us
  Careers
  Community

  Get Started

  Bring everyone together to build better products.

  Manage makes it simple for software teams to plan day-to-day 
  tasks while keeping the larger team goals in view.


  Get Started

  Simplify how your team works today.
  Get Started

  Home
  Pricing
  Products
  About Us
  Careers
  Community
  Privacy Policy

  Updates in your inbox…
  Go

  Copyright 2020. All Rights Reserved









*/