.heading {
    text-align: center;

}

.hero-section_image {
    margin-top: 3.5em;
}

.btn-container {
    margin-top: 2em;
}

.main-heading {
    font-size: 2.25rem;
    margin-bottom: 0.3em;
}

.text {
    color: var(--grayishBlue);
    text-align: center;
}

.text-main {
    margin-bottom: 1.8em;
}